@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=EB+Garamond&family=Gentium+Basic:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=EB+Garamond&family=Gentium+Basic:ital@1&display=swap");
.productosass {
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  font-family: 'Gentium Basic', serif;
  position: relative; }
  .productosass .Productos {
    margin: 10px 50px 50px 50px;
    padding: 50px; }
    .productosass .Productos p {
      font-size: 20px; }
  .productosass .video {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.Contenedorbody {
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  font-family: 'Gentium Basic', serif;
  position: relative;
  font-size: 20px; }

/*Menu de navegación*/
.navbar {
  background-color: #ecbee0;
  height: 80px;
  text-decoration: none;
  font-size: 20px; }
  .navbar h1 {
    font-family: 'EB Garamond', serif;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 35px;
    padding: 5px; }

/*iNDEX*/
#container {
  margin-top: 80;
  width: 100%;
  height: 975px;
  background-image: url(../img/jabones.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center; }

.titulocontenedor {
  background-color: #f2f2ca;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
  color: black;
  font-size: 2em; }
  .titulocontenedor h2 {
    color: black;
    font-size: 2em; }
  @media screen and (max-width: 780px) {
    .titulocontenedor .titulocontainer {
      font-size: 1em; }
    .titulocontenedor h2 {
      font-size: 20px; } }

h2 {
  text-align: center;
  display: inline-block;
  color: #033f36;
  margin: 10px 0 15px 0;
  font-family: 'Cinzel', serif; }

.galería {
  width: 100%;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1em; }
  .galería .imagen {
    text-align: center; }
  .galería .imagen img {
    width: 100%;
    gap: 1em; }
  @media screen and (max-width: 780px) {
    .galería {
      background-color: #e4f0f0;
      justify-items: center; }
      .galería .imagen {
        background-color: #efdcf5;
        width: 70%;
        justify-content: center;
        gap: 1,5; } }

.Filosofía {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 50px;
  gap: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; }

/*footer*/
.footer {
  height: 10%;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  background-color: #deb5e9;
  align-items: center; }
  .footer .footerlinks {
    display: flex;
    flex-direction: column; }
  .footer .footeredes {
    width: 100px;
    display: flex;
    justify-content: space-around; }

/*sobrenosotros*/
.completo {
  margin: 30px 50px 50px 50px; }
  .completo .titulocontainer {
    margin-top: 80px;
    display: flex;
    width: 100%;
    justify-content: center; }
  .completo .preparar {
    position: relative; }
  @media screen and (max-width: 780px) {
    .completo {
      font-size: 15px; } }

.articulo {
  width: 100%;
  margin: 50px;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  justify-items: center;
  align-items: center; }
  .articulo .transform {
    transform: rotate(5deg); }
  @media screen and (max-width: 780px) {
    .articulo {
      grid-template-columns: 0fr;
      gap: 15px;
      font-size: 15px; }
      .articulo .transform {
        transform: rotate(5deg); }
      .articulo .area2 {
        display: none; }
      .articulo h3 {
        color: #4f2fe0; } }

.section2 {
  display: flex;
  width: 100%;
  margin: 50px;
  padding: 50px;
  text-align: center; }
  @media screen and (max-width: 780px) {
    .section2 {
      font-size: 15px;
      display: flex;
      justify-items: center; }
      .section2 #hola {
        width: 60%; } }

/*contactos*/
.contacto {
  margin-top: 80px;
  width: 80%;
  height: 5%;
  text-align: center; }

.form-control {
  background-color: #dccbe0; }

.divinput {
  width: 500px; }

.grid {
  gap: 20px;
  text-decoration-color: black;
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px; }
  .grid:hover {
    background-color: #dfdae0; }
  .grid #icon {
    width: 45px;
    font-size: 25px;
    color: #c41c9f; }

/* AvisoLegal */
.aviso div {
  margin-top: 100px;
  padding: 20px; }

/* Aplicando media para layout*/
@media screen and (max-width: 780px) {
  .navbar {
    background-color: aqua; }
  .filomedia {
    width: 100%;
    margin: 0;
    padding: 20;
    gap: 20px;
    display: flex;
    flex-direction: column; }
  h1 {
    font-size: 20px;
    padding-left: 35px; }
  .navmenu {
    height: 10vh; }
  #natural {
    background-color: #deb5e9;
    display: flex;
    align-content: center; }
  .section2 {
    display: flex;
    width: 100%;
    margin: 50px 20px 20px 10px;
    padding: 50px 20px 20px 20px;
    text-align: center; }
  .galería {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1em; }
  .imagen {
    text-align: center; }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    width: 100%;
    flex-direction: column; } }
