$color-titulo:  rgb(3, 63, 54);
$bg-footer: linear-gradient(315deg, #f9d29d 0%, #ffd8cb 74%);
$fzc: 20px;
$fzc-media: 20px;
$fzc-pages: 15px;
$bg-fondo: linear-gradient(315deg, #ebbe9b 0%, #e7a977 74%);
$bg-filosofia: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%);


