@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=EB+Garamond&family=Gentium+Basic:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Contenedorbody{
    min-height: 93vh;
    justify-self: center;
    @extend %display;
    background-color: white;
    font-family: 'Gentium Basic', serif;
    font-size: $fzc;
}

        /*Menu de navegación*/  
.navbar{
    background-image: $bg-fondo;
    height: 80px;
    text-decoration: none;
    font-size: 20px;
    h1 {
        font-family: 'Cinzel';
        color: rgb(12, 12, 12);
        font-weight: bold;
        text-transform: uppercase;
        margin-left: 35px;
        padding: 5px;
    }
}

          /*iNDEX*/
#container{
    margin-top: 80;
    width: 100%;
    height: 975px;
    background-image: url(../img/jabones.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulocontenedor{
    background-color: map-get($contenedor , bg-color);
    border-radius: map-get($contenedor, bordes);
    opacity: 0.7;
    @extend %display;
    padding: map-get($contenedor, padding);
    text-align: center;
    color: black;
    font-size: 2em;
    h2{
        color: black;
        font-size: 2em;
    }

    animation-name: tituloefecto;
    animation-duration: 3s;
    @keyframes tituloefecto{
        0%{
            transform: scale(.3);
        }
        100%{
            transform: scale(1);
        }
    }
}

h2 {
    text-align: center;
    display: inline-block;
    color: $color-titulo;
    margin: 10px 0 15px 0;
    font-family: 'Cinzel', serif;
}

.galería{
    width: 100%;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    .imagen{
        text-align: center;
        h3{
            margin-top: 20px;
        }
        .rounded-4{
            width: 70%;
        }
       }
     .imagen img{
        width: 100%;
        gap: 1em;
        &:hover{
            box-shadow: 5px 5px 20px rgba(212, 136, 21, 0.4);
            transform: translateZ(-3%);
        }
    }
}
.Filosofía{
    height: 100%;
    width: 100%; margin: 0; padding: 50px; gap: 50px;
    font-family: 'Gentium Basic', serif;
    font-size: $fzc;
    display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start;
    border: 3px solid rgb(245, 173, 92);
}

.hablamos{
    margin: 50px;
    padding: 50px;
    text-align: center;
    background-color: #ffcfdf;
    background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
    font-family: 'Gentium Basic', serif;
    font-size: $fzc;
}

.iconos-sociales{
        gap: 40px;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
        transition: all 400ms ease;
 &:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-6%);
}
}

     /*footer*/

.footer{
    height: 10%;
    width: 100%;
    padding: 10px;
    @include img;
    justify-content: space-evenly;
   background-image: $bg-footer;

.footerlinks{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
}

/* AvisoLegal y Privacidad */

.aviso div{
    margin-top: 100px;
    padding: 20px;
}

.politica, .privacidad{
    margin-top: 100px;
    padding: 20px;
}

@media screen and (min-width: 300px) and (max-width: 480px) {
    .Contenedorbody{
        box-sizing: content-box;
        width: 100%;
    }
    .navbar{
        font-size: $fzc-media;
        align-self: center;
        background-image: linear-gradient(315deg, #fce043 0%, #fb7ba2 74%);
    }
    h1{
        font-size: $fzc-media;
        align-self: center;
    }

    h2 {
        color: #fb7ba2;
        font-size: 15px;
        text-align: center;
    }
    h3{
        font-size: 15px;
    }
    
    p{
        font-size: 10px;
    }
    #container{
        background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
        height: 600px;
        .titulocontenedor{
            font-size: 80px;
            width: 80%;
            h2{
                font-size: 20px;
            }
        }
    }
    .galería{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 50px;
        font-size: 10px;
        gap: 1em;
}

.Filosofía{
    height: 100%;
    width: 100%; margin: 0; padding: 10px; gap: 10px;
    font-family: 'Gentium Basic', serif;
    font-size: 15px;
    display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start;
    border: 2px solid rgb(245, 173, 92);
    #noe{
        display: none;
    }
}



.hablamos{
    margin: 10px;
    padding: 20px;
    text-align: center;
    background-color: #ffcfdf;
    background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
    font-family: 'Gentium Basic', serif;
    font-size: $fzc;
}


.footer{
    p{
        font-size: 10px;
    }
    .footerlinks{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        font-size: 10px;
    }
}
}

@media screen and (min-width: 480px) and (max-width: 780px) {
    .navbar{
        background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
    }
    
    h2 {
        color: #7e1635;
        font-size: 25px;
    }
    h3{
        font-size: 20px;
    }
    
    p{
        font-size: 15px;
    }

    #container{
        background-image: url(../img/jabones.jpeg);
        height: 800px;
        .titulocontenedor{
            font-size: 80px;
            width: 80%;
            h2{
                font-size: 35px;
            }
    }
}
    .galería{
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        padding: 50px;
        font-size: 10px;
}

.Filosofía{
    height: 100%;
    width: 100%; margin: 0; padding: 10px; gap: 10px;
    font-family: 'Gentium Basic', serif;
    font-size: 15px;
    display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start;
    border: 2px solid rgb(80, 197, 206);
    #noe{
        display: none;
    }
}

.hablamos{
    margin: 10px;
    padding: 20px;
    text-align: center;
    background-color: #ffcfdf;
    background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
    font-family: 'Gentium Basic', serif;
    font-size: $fzc;
}

.footer{
    p{
        font-size: 10px;
    }
    .footerlinks{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        font-size: 10px;
    }
}
}

